# http://eslint.org/docs/rules/

extends: eslint:recommended

env:
  amd: true
  browser: false
  mocha: true
  node: true

rules:
  eol-last: 2
  eqeqeq: 2
  new-parens: 2
  no-alert: 2
  no-array-constructor: 2
  no-bitwise: 1
  no-caller: 2
  no-catch-shadow: 2
  no-console: 0
  no-div-regex: 2
  no-empty-label: 2
  no-eq-null: 2
  no-eval: 2
  no-floating-decimal: 2
  no-implied-eval: 2
  no-iterator: 2
  no-label-var: 2
  no-loop-func: 2
  no-multi-str: 2
  no-native-reassign: 2
  no-new-func: 2
  no-new-object: 2
  no-new-wrappers: 2
  no-octal-escape: 2
  no-proto: 2
  no-return-assign: 2
  no-script-url: 2
  no-self-compare: 2
  no-undef-init: 2
  no-with: 2
  wrap-iife: 2
