language:
  - node_js
  - python

python:
    - "2.7"

node_js:
  - "0.10"

services: redis-server

before_install:
  - "sudo apt-get install python-virtualenv"

script: make travis

after_script:
  - npm install nsp -g
  - npm run outdated
  - npm run audit-shrinkwrap

notifications:
  irc:
    channels:
      - "irc.mozilla.org#loop"
    use_notice: false
    skip_join: true
    on_success: change
    on_failure: always
    template:
      - "%{repository} (%{branch} - %{commit}: %{author}): %{message} %{build_url}"
